{% load static %}
 {% load django_htmx %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Web Toolkit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
   {% htmx_script %}
   <link href="{% static 'core/output.css' %}" rel="stylesheet" type="text/css" />
</head>
<style>
    .red-border {
        border: 1px #ff0000 solid;
    }
</style>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-boost="true">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
  
  <h1>Web Toolkit</h1>

  <a class="link" href="{% url "core:home" %}">Home</a>
  <a class="link" href="{% url "core:url_shortener" %}">URL Shortener</a>
  <a class="link" href="{% url "core:file_hosting" %}">File Hosting</a>
  {% if request.user.is_authenticated %}


  <a class="link" href="#" id="logout-btn" onclick="logout()" hx-boost="false">Logout</a>
  <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;" hx-boost="false">
    {% csrf_token %}
  </form>

  <a class="link" href="{% url "core:about_user" %}">About</a>
  {% else %}

  <a class="link" href="{% url "core:login" %}">Login</a>

  {% if enable_registration %}
  <a class="link" href="{% url "core:register" %}">Register</a>
  {% endif %}

  {% endif %}

</div>

</div>

  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
  {% block body %}{% endblock body %}
</div>
  </div>

</body>


{% block after_body %}{% endblock after_body %}
</html>