 {% load django_htmx %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Web Toolkit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
   {% htmx_script %}
</head>
<style>
    .red-border {
        border: 1px #ff0000 solid;
    }
    a.link {
        text-decoration: underline;
        color: #000000;
    }
</style>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' hx-boost="true">
  <h1>Web Toolkit</h1>
  <h5>

  <a class="link" href="{% url "core:home" %}">Home</a>
  <a class="link" href="{% url "core:url_shortener" %}">URL Shortener</a>
  <a class="link" href="{% url "core:file_hosting" %}">File Hosting</a>
  {% if request.user.is_authenticated %}


  <a class="link" href="#" id="logout-btn" onclick="logout()" hx-boost="false">Logout</a>
  <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;" hx-boost="false">
    {% csrf_token %}
  </form>

  <a class="link" href="{% url "core:about_user" %}">About</a>
  {% else %}

  <a class="link" href="{% url "core:login" %}">Login</a>

  {% if enable_registration %}
  <a class="link" href="{% url "core:register" %}">Register</a>
  {% endif %}
  

  {% endif %}
</h2>
  {% block body %}{% endblock body %}

</body>

{% block after_body %}{% endblock after_body %}
</html>