{% extends 'core/_base.html' %}


{% block body %}
{% if errors %}
<h3>Error:<h3>
{% for e in errors %}
    <p> {{ e }} </p>
{% endfor %}
<hr>
{% endif %}
<h2>Register</h2>
<form method="POST" id="register-form" hx-boost="false">
    {% csrf_token %}
    username<br>
    <input name="username" type="text"><br>
    password<br>
    <input name="password" type="password" id="password-input"><br>
    confirm password<br>
    <input name="password-confirm" type="password" id="password-confirm-input"><br>

    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock body %}