{% extends 'core/_base.html' %}


{% block body %}
<h2>Register</h2>
<form method="POST" id="register-form" hx-boost="false">
    {% csrf_token %}
    username<br>
    <input name="username" type="text"><br>
    password<br>
    <input name="password" type="password" id="password-input"><br>
    confirm password<br>
    <input name="password-confirm" type="password" id="password-confirm-input"><br>

    <button type="submit">Register</button>
</form>
{% endblock body %}
{% block after_body %}
<script>
</script>
{% endblock after_body %}