{% extends 'core/include/base.html' %}


{% block body %}
<h2>Register</h2>
<form method="POST" id="register-form">
    {% csrf_token %}
    username<br>
    <input name="username" type="text"><br>
    password<br>
    <input name="password" type="password" id="password-input"><br>
    confirm password<br>
    <input name="password-confirm" type="password" id="password-confirm-input"><br>

    <a href="#" id="register-form-btn">Register</a>
</form>
{% endblock body %}
{% block after_body %}
<script>
    const registerFormBtn = document.querySelector("#register-form-btn");
    if (registerFormBtn) {
        registerFormBtn.addEventListener("click", () => {
            const passwordInput = document.querySelector("#password-input")
            const passwordConfirmInput = document.querySelector("#password-confirm-input")
            if (passwordInput.value !== passwordConfirmInput.value) {
                passwordInput.classList.add("red-border")
            } else {
                passwordInput.classList.remove("red-border")
                document.querySelector("#register-form").submit()
            }
        })
    }
</script>
{% endblock after_body %}