{% extends 'core/_base.html' %}
{% block body %}
{% if errors %}
<h3>Error:<h3>
{% for e in errors %}
    <p> {{ e }} </p>
{% endfor %}
<hr>
{% endif %}

url shortener<br>
{% if shortened_url %}
<h3>Success! The short URL is <a href="{{ shortened_url }}">{{ shortened_url}}</a></h3>
{% endif %}
<form action="{% url "core:url_shortener" %}" method="POST">
    {% csrf_token %}
    <textarea name="url" type="text" id="shorten-input"></textarea><br>
    <input type="checkbox" name="is_public" value="is_public" id="is-public-input"><label for="is-public-input">Public? (Public URLs could be listed publicly. This does not affect the accessibility of the link)</label><br><br>
    <button type="submit" style="font-size: 1.3em;">Shorten!</button>
</form>
<hr>
{% if page %}

<h3>Shortened URLs</h3>
{% for item in page.object_list %}
<p><a hx-boost="false" class="link" href="{% url "core:url_shortener_url" item.alias %}">{{ item.url_display }} ({{ item.visibility }})</a> &nbsp;&nbsp;

<a class="link" href="{% url "core:url_shortener_url_delete" item.alias %}?page={{ page.number }}">Delete</button>

</p>
<hr>

{% endfor %}
<br>
{% if page.has_next %}
<a class="link" href="{% url "core:url_shortener" %}?page={{page.next_page_number}}">Next Page</a>
{% endif %}
{% if page.has_previous %}
<a class="link" href="{% url "core:url_shortener" %}?page={{page.previous_page_number}}"> Previous Page</a>
{% endif %}

{% endif %}
{% endblock body %}