{% extends 'core/_base.html' %}
{% block body %}
  <div class="navbar">
    <div class="navbar-start"></div>
    <div class="navbar-center">
      <span class="text-xl">URL Shortener</span>
    </div>
    <div class="navbar-end"></div>
  </div>

  {% if errors %}
    <div class="alert alert-error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span>{% for e in errors %}{{ e }}{% endfor %}</span>
    </div>
  {% endif %}
  {% if shortened_url %}
    <div role="alert" class="alert alert-success">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span
        >Success! The short URL is
        <a class="link" href="{{ shortened_url }}">{{ shortened_url }}</a></span
      >
    </div>
  {% endif %}

  <div class="flex items-center justify-center">
    <form action="{% url 'core:url_shortener' %}" method="POST">
      {% csrf_token %}
      <fieldset class="fieldset">
        <legend class="fieldset-legend">URL to Shorten</legend>
        <textarea
          class="textarea h-24"
          placeholder="https://example.com"
          name="url"
        ></textarea>
        <div class="label"></div>
      </fieldset>
      <input
        class="checkbox"
        type="checkbox"
        name="is_public"
        value="is_public"
        id="is-public-input"
      /><label for="is-public-input"
        >Public? (Public URLs could be listed publicly. This does not affect the
        accessibility of the link)</label
      ><br /><br />
      <button type="submit" class="btn btn-primary">Shorten!</button>
    </form>
  </div>
  {% if page %}
    <div class="flex items-center justify-center">
      <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
          Shortened URLs
        </li>

        {% for item in page.object_list %}
          <li class="list-row">
            <div class="list-col-grow">
              <div>
                <a
                  hx-boost="false"
                  class="link"
                  href="{% url 'core:url_shortener_url' item.alias %}"
                  >{{ item.url_display }} ({{ item.visibility }})</a
                >
              </div>
            </div>
            <a
              class="btn btn-neutral"
              href="{% url 'core:url_shortener_url_delete' item.alias %}?page={{ page.number }}"
            >
              Delete
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <br />

    <div class="flex items-center justify-center">
      <div class="join grid grid-cols-2">
        {% if page.has_previous %}
          <a
            class="join-item btn btn-outline"
            href="{% url 'core:url_shortener' %}?page={{ page.previous_page_number }}"
            >Previous</a
          >
        {% endif %}
        {% if page.has_next %}
          <a
            class="join-item btn btn-outline"
            href="{% url 'core:url_shortener' %}?page={{ page.next_page_number }}"
            >Next</a
          >
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock body %}
