{% extends 'core/_base.html' %} {% block body %}

<div class="navbar">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <span class="text-xl">Login</span>
  </div>
  <div class="navbar-end"></div>
</div>

<div class="flex items-center justify-center">
  <form method="POST" id="login-form" hx-boost="false">
    {% csrf_token %}
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Login</legend>

      <label class="label">Username</label>
      <input type="text" class="input" placeholder="Username" name="username" />

      <label class="label">Password</label>
      <input
        type="password"
        class="input"
        placeholder="Password"
        name="password"
      />

      <button class="btn btn-neutral mt-4" type="submit">Login</button>
    </fieldset>
  </form>
</div>

{% endblock body %}
