{% extends 'core/_base_body.html' %}
{% block body %}
{% if errors %}
<h3>Error:<h3>
{% for e in errors %}
    <p> {{ e }} </p>
{% endfor %}
<hr>
{% endif %}

File Hosting<br>
{% if file_url %}
<h3>Success! The uploaded file is <a href="{{ file_url }}">{{ file_url}}</a></h3>
{% endif %}
<form action="{% url "core:file_hosting" %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="file" type="file" id="file-input"> (Max Size: {{ file_hosting_max_size_mb }} MB )<br><br>
    <input name="is_public" type="checkbox" id="is-public-input" value="is_public"> <label for="is-public-input">Public? (Public files could be listed publicly. This does not affect the accessibility of the link)</label><br><br>
    <button type="submit" style="font-size: 1.3em">Upload!</button>
</form>
{% if page %}
<h3>Uploaded Files</h3>
{% for item in page.object_list %}
<p><a class="link" href="{% url "core:file_redirect" item.alias_filename %}">{{ item.filename }} ({{item.file_size_mb}} MB, {{ item.visibility }})</a> &nbsp;&nbsp;

<a class="link" href="{% url "core:file_delete" item.alias_filename %}?page={{ page.number }}">Delete</button>

</p>
<hr>

{% endfor %}
<br>
{% if page.has_next %}
<a class="link" href="{% url "core:file_hosting" %}?page={{page.next_page_number}}">Next Page</a>
{% endif %}
{% if page.has_previous %}
<a class="link" href="{% url "core:file_hosting" %}?page={{page.previous_page_number}}"> Previous Page</a>
{% endif %}
{% endif %}

{% endblock body %}