{% extends 'core/_base_body.html' %}
{% block body %}
File hosting and url shortening service.

<br>
Source Code (Host Your Own): <a class="link" href="https://github.com/theareph/webtoolkit">https://github.com/theareph/webtoolkit</a>


{% if latest_urls %}

<h3>Latest URLs (Public)</h3>
{% for item in latest_urls %}
<p><a class="link" href="{% url "core:url_shortener_url" item.alias %}">{{ item.url_display }}</a> &nbsp;&nbsp;
{% endfor %}
{% endif %}


{% if latest_files %}
<h3>Latest Files (Public)</h3>
{% for item in latest_files %}
<p><a class="link" href="{% url "core:file_redirect" item.alias_filename %}">{{ item.filename }} ({{item.file_size_mb}} MB)</a> &nbsp;&nbsp;
{% endfor %}
{% endif %}
{% endblock body %}